    <p-table [value]="lancamentos" stripedRows [paginator]="true" [rows]="10" [rowsPerPageOptions]="[10,20,30,50,100]"
      responsiveLayout="stack" [tableStyle]="{'min-width': '50rem'}">
      <ng-template #header>
        <tr>
          <th pSortableColumn="tipo" style="width:20%">
            Tipo <p-sortIcon field="tipo" />
          </th>
          <th pSortableColumn="pessoa" style="width:20%">
            Nome <p-sortIcon field="pessoa" /></th>
          <th pSortableColumn="descricao" style="width:20%">
            Descrição <p-sortIcon field="descricao" /></th>
          <th pSortableColumn="dataVencimento" style="width:20%">
            Data Vencimento <p-sortIcon field="dataVencimento" /></th>
          <th pSortableColumn="dataPagamento" style="width:20%">
            Data Pagamento <p-sortIcon field="dataPagamento" /></th>
          <th pSortableColumn="valor" style="width:20%">
            Valor <p-sortIcon field="valor" /></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-lancamento>
        <tr>
          <td>{{lancamento.tipo}}</td>
          <td>{{lancamento.pessoa}}</td>
          <td>{{lancamento.descricao}}</td>
          <td>{{lancamento.dataVencimento | date:'dd/MM/y'}}</td>
          <td>{{lancamento.dataPagamento | date:'dd/MM/y'}}</td>
          <td [ngStyle]="conditionalType(lancamento)">
            {{lancamento.valor | currency:'BRL':true}}
          </td>
          <td class="col-acoes" style="display: block">
            <a pButton icon="pi pi-pencil" pTooltip="Editar" tooltipPosition="top" severity="info"></a>
            <button pButton icon="pi pi-trash" pTooltip="Excluir" tooltipPosition="top" severity="info"></button>
          </td>
        </tr>
      </ng-template>
    </p-table>

