<div class="container">
  <div class="grid">

    <div class="col-12">
      <h1>Pessoas</h1>
    </div>

    <div class="col-12">
      <label class="font-bold block mb-2">Nome</label>
      <input pInputText [fluid]="true" type="text">
    </div>

    <div class="col-12">
      <div class="col-12">
        <p-button type="submit" label="Pesquisar" severity="info" />
      </div>
    </div>

    <div class="grid">
      <div class="col-12">
        <p-table [value]="pessoas" stripedRows [paginator]="true" [rows]="2" [rowsPerPageOptions]="[10,20,30]"
          responsiveLayout="stack" [tableStyle]="{'min-width': '50rem'}">
          <ng-template #header>
            <tr>
              <th pSortableColumn="nome" style="width:20%">
                Nome <p-sortIcon field="nome" />
              </th>
              <th pSortableColumn="cidade" style="width:20%">
                Cidade <p-sortIcon field="cidade" /></th>
              <th pSortableColumn="estado" style="width:20%">
                Estado <p-sortIcon field="estado" /></th>
              <th pSortableColumn="status" style="width:20%">
                Status <p-sortIcon field="status" /></th>
          </ng-template>
          <ng-template pTemplate="body" let-pessoa>
            <tr>
              <td>{{pessoa.nome}}</td>
              <td>{{pessoa.cidade}}</td>
              <td>{{pessoa.estado}}</td>
              <td>
                <a href="javascript:;" [pTooltip]="pessoa.ativo ? 'Desativar' : 'Ativar'" tooltipPosition="top">
                  {{pessoa.ativo ? 'Ativo' : 'Inativo'}}
                </a>
              </td>
              <td class="col-acoes" style="display: block">
                <a pButton icon="pi pi-pencil" pTooltip="Editar" tooltipPosition="top" severity="info"></a>
                <button pButton icon="pi pi-trash" pTooltip="Excluir" tooltipPosition="top" severity="info"></button>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>

    <div class="grid col-12">
      <a pButton label="Nova Pessoa" severity="info"></a>
    </div>

  </div>
</div>
