<div class="container">
  <form (ngSubmit)="salvar()" [formGroup]="formulario">
    <div class="grid">
      <div class="col-12">
        <h1>{{ editando ? 'Edição de' : 'Novo' }} Lançamento</h1>
      </div>

      <div class="col-12">
        <p-selectbutton [options]="stateOptions" name="tipo" optionLabel="label" optionValue="value"
          aria-labelledby="basic" formControlName="tipo" />
      </div>

      <div class="col-6 md:col-3">
        <label class="font-bold block mb-2">Vencimento</label>
        <p-datepicker [iconDisplay]="'input'" [showIcon]="true" inputId="icondisplay" dateFormat="dd/mm/yy"
          name="vencimento" ngModel formControlName="dataVencimento" />

        <app-message [control]="formulario.get('dataVencimento')" error="required"
          text="Informe um vencimento"></app-message>
      </div>

      <div class="col-6 md:col-3">
        <label class="font-bold block mb-2">{{ formulario.get('tipo')?.value === 'RECEITA' ? 'Recebimento' :
          'Pagamento'}}</label>
        <p-datepicker [iconDisplay]="'input'" [showIcon]="true" inputId="icondisplay" dateFormat="dd/mm/yy"
          name="pagamento" ngModel formControlName="dataPagamento" />

        <app-message [control]="formulario.get('dataPagamento')" error="required"
          text="Informe uma categoria"></app-message>
      </div>

      <div class="col-12 md:col-9 p-fluid">
        <label class="font-bold block mb-2">Descrição</label>
        <input pInputText [fluid]="true" type="text" name="descricao" ngModel formControlName="descricao">

        <app-message [control]="formulario.get('descricao')" error="required"
          text="Informe uma descrição"></app-message>
        <app-message [control]="formulario.get('descricao')" error="minlength"
          text="Tamanho minimo é 5 caracters"></app-message>

      </div>


      <div class="col-12 md:col-3">
        <label class="font-bold block mb-2">Valor</label>
        <p-inputnumber inputId="valor" name="valor" mode="currency" currency="BRL" locale="pt-BR" [fluid]="true"
          formControlName="valor" />


      </div>

      <div class="col-12 md:col-6" formGroupName="categoria">
        <label class="font-bold block mb-2">Categoria</label>
        <p-select [options]="categorias" placeholder="Selectione a Categoria" [fluid]="true" name="categoria" ngModel
          formControlName="codigo" />

        <app-message [control]="formulario.get('categoria')" error="required"
          text="Informe uma categoria"></app-message>
      </div>

      <div class="col-12 md:col-6" formGroupName="pessoa">
        <label class="font-bold block mb-2">Pessoa</label>
        <p-select [options]="pessoas" placeholder="Selectione uma Pessoa" [fluid]="true" name="pessoa" ngModel
          formControlName="codigo" />

        <app-message [control]="formulario.get('pessoa')" error="required" text="Informe uma pessoa"></app-message>
      </div>

      <div class="col-12">
        <label class="font-bold block mb-2">Observação</label>
        <textarea pInputTextarea rows="5" name="observacao" cols="30" pTextarea [autoResize]="true" [fluid]="true"
          formControlName="observacao"></textarea>
      </div>

      <div class="col-12" *ngIf="!formulario.get('anexo')?.value">
        <p-fileUpload name="anexo" mode="basic" auto="true" [maxFileSize]="1000000" chooseLabel="Anexar"
          accept="image/*,application/pdf" [headers]="uploadHeaders" [url]="urlUploadAnexo"
          (onBeforeUpload)="antesUploadAnexo()"
          (onUpload)="aoTerminarUploadAnexo($event)"
          (onError)="erroUpload()" [hidden]="uploadEmAndamento"
          />

          <p-progressSpinner [hidden]="!uploadEmAndamento" [style]="{ width: '25px', height: '25px' }"></p-progressSpinner>
      </div>

      <div class="col-12" *ngIf="formulario.get('anexo')?.value">
        <button pButton type="button" severity="danger" icon="pi pi-trash" iconPos="right" pTooltip="Remover Anexo"
          (click)="removerAnexo()"></button>

        <a target="_blank" pTooltip="Baixar Anexo" tooltipPosition="top" [href]="formulario.get('urlAnexo')?.value">{{
          nomeAnexo }}</a>
      </div>

      <div class="col-12">
        <button pButton type="submit" label="Salvar" severity="info" icon="pi pi-save" iconPos="right"
          [disabled]="formulario.invalid || uploadEmAndamento"></button>
        <button pButton type="button" label="Novo" severity="info" icon="pi pi-plus" iconPos="right"
          (click)="novo()"></button>
        <a routerLink="/lancamentos">Voltar para pesquisa</a>

      </div>

    </div>
  </form>
</div>
