<div class="container">
  <form (ngSubmit)="salvar()" [formGroup]="formulario">
    <div class="grid">
      <div class="col-12">
        <h1>Nova Pessoa</h1>
      </div>

      <div class="col-12">
        <label class="font-bold block mb-2">Nome</label>
        <input pInputText [fluid]="true" type="text" formControlName="nome" />

        <app-message [control]="formulario.get('nome')" error="required" text="Informe um nome"></app-message>
        <app-message [control]="formulario.get('nome')" error="minlength"
          text="Tamanho mínimo é 5 caracteres"></app-message>
      </div>

      <div class="col-12 md:col-9" formGroupName="endereco">
        <label class="font-bold block mb-2">Logradouro</label>
        <input pInputText [fluid]="true" type="text" formControlName="logradouro" />

        <app-message [control]="formulario.get('endereco.logradouro')" error="required"
          text="Informe um logradouro"></app-message>
      </div>

      <div class="col-12 md:col-3" formGroupName="endereco">
        <label class="font-bold block mb-2">Número</label>
        <input pInputText [fluid]="true" type="text" formControlName="numero" />

        <app-message [control]="formulario.get('endereco.numero')" error="required"
          text="Informe um número"></app-message>
      </div>

      <div class="col-12 md:col-4" formGroupName="endereco">
        <label class="font-bold block mb-2">Complemento</label>
        <input type="text" pInputText [fluid]="true" formControlName="complemento" />
      </div>

      <div class="col-12 md:col-4" formGroupName="endereco">
        <label class="font-bold block mb-2">Bairro</label>
        <input type="text" pInputText [fluid]="true" formControlName="bairro" />

        <app-message [control]="formulario.get('endereco.bairro')" error="required"
          text="Informe um bairro"></app-message>
      </div>

      <div class="col-12 md:col-4" formGroupName="endereco">
        <label class="font-bold block mb-2">CEP</label>
        <p-inputMask mask="99999-999" placeholder="00000-000" formControlName="cep"></p-inputMask>

        <app-message [control]="formulario.get('endereco.cep')" error="required" text="Informe um CEP"></app-message>
      </div>

      <!-- ESTADO -->
      <div class="col-12 md:col-6" formGroupName="endereco">
        <label class="font-bold block mb-2">Estado</label>
        <p-dropdown formControlName="estado" [options]="estados" [placeholder]="'Selecione...'" [filter]="true"
          [showClear]="true" optionLabel="label" optionValue="value" (onChange)="carregarCidades()">
        </p-dropdown>

        <app-message [control]="formulario.get('endereco.estado')" error="required" text="Informe o Estado">
        </app-message>
      </div>

      <!-- CIDADE -->
      <div class="col-12 md:col-6" formGroupName="endereco">
        <label class="font-bold block mb-2">Cidade</label>
        <p-dropdown formControlName="cidade" [options]="cidades" [placeholder]="'Selecione...'" [filter]="true"
          [showClear]="true" optionLabel="label" optionValue="value">
        </p-dropdown>

        <app-message [control]="formulario.get('endereco.cidade')" error="required" text="Informe uma cidade">
        </app-message>
      </div>

      <div class="col-12">
        <p-panel header="Contatos">
          <div class="grid">
            <div class="col-12">
              <button pButton type="button" label="Novo" severity="info" icon="pi pi-plus" iconPos="right"
                (click)="prepararNovoContato()">
              </button>
            </div>
            <div class="col-12">
              <p-table [value]="pessoa.contatos" [responsive]="true">
                <ng-template>
                  <tr>
                    <th>Nome</th>
                    <th>E-mail</th>
                    <th>Telefone</th>
                    <th class="col-acoes-header"></th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-contato let-rowIndex="rowIndex">
                  <tr>
                    <td>{{contato.nome}}</td>
                    <td>{{contato.email}}</td>
                    <td>{{contato.telefone}}</td>
                    <td class="col-acoes">
                      <a pButton icon="pi pi-pencil" pTooltip="Editar" tooltipPosition="top" severity="info"
                        (click)="prepararEdicaoContato(contato,rowIndex)"></a>
                      <button pButton icon="pi pi-trash" pTooltip="Excluir" tooltipPosition="top"
                        severity="info" (click)="removerContato(rowIndex)"></button>
                    </td>
                  </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                  <tr>
                    <td colspan="4">Nenhum contato cadastrado</td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
          </div>
        </p-panel>
      </div>

      <div class="col-12">
        <button pButton type="submit" label="Salvar" severity="info" icon="pi pi-save" iconPos="right"
          [disabled]="formulario.invalid">
        </button>
        <button pButton type="button" label="Novo" severity="info" icon="pi pi-plus" iconPos="right" (click)="novo()">
        </button>
        <a routerLink="/pessoas">Voltar para pesquisa</a>
      </div>
    </div>
  </form>
</div>

<p-dialog header="Novo Contato" [(visible)]="exibindoFormularioContato" [modal]="true" *ngIf="contato"
  [style]="{width: '70vw'}">
  <form #frmContato="ngForm" (ngSubmit)="confirmarContato(frmContato)">
    <div class="col-12 p-fluid">
      <label>Nome </label>
      <input pInputText type="text" name="nome" required [(ngModel)]="contato.nome" #contatoNome="ngModel" />

      <app-message [control]="contatoNome.control" error="required" text="Informe o nome"></app-message>
    </div>

    <div class="col-12 p-fluid">
      <label>E-mail </label>
      <input pInputText type="email" name="email" required email [(ngModel)]="contato.email" #contatoEmail="ngModel" />

      <app-message [control]="contatoEmail.control" error="required" text="Informe o email"></app-message>
      <app-message [control]="contatoEmail.control" error="email" text="Informe um e-mail válido"></app-message>
    </div>

    <div class="col-12 p-fluid">
      <label>Telefone </label>
      <p-inputMask name="telefone" [(ngModel)]="contato.telefone" mask="(99) 99999-999?9"></p-inputMask>
    </div>

    <div class="col-12">
      <button pButton type="submit" label="Confirmar" [disabled]="frmContato.invalid"></button>
    </div>
  </form>
</p-dialog>
